.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3{
    font-family: "Anton", sans-serif;
}
h1{
    font-family: "Anton", sans-serif;
}

#primer{
    background-image: url("/fotofondo.jpeg");
    background-size: cover;
    width: 1000px;
    height: 500px;
    border-radius: 20px;
    color: azure;
    display: flex;
    align-items: center;
    gap: 50px
}

#segundo{
    background-color: white;
    background-size: cover;
    width: 1000px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start
}

#boton-vender{
    font-family: "Anton", sans-serif;
    font-size: 30px;
    color: rgb(68, 82, 102);
    background-color: rgb(151, 228, 236)
}

#boton-vender:hover{
    font-family: "Anton", sans-serif;
    font-size: 30px;
    color: rgb(68, 82, 102);
    transition: "all 0.3s ease-in-out";
    background-color: rgb(109, 167, 174);
    color:white
}